@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?im726n');
  src:  url('../fonts/icomoon.eot?im726n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?im726n') format('truetype'),
    url('../fonts/icomoon.woff?im726n') format('woff'),
    url('../fonts/icomoon.svg?im726n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
}

.icon-icono1:before {
  content: "\e900";
}
.icon-icono2:before {
  content: "\e901";
}
.icon-icono3:before {
  content: "\e902";
}
.icon-icono4:before {
  content: "\e903";
}
.icon-icono5 .path1:before {
  content: "\e904";
  color: rgb(255, 82, 82);
}
.icon-icono5 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icono6:before {
  content: "\e906";
}
.icon-icono7:before {
  content: "\e907";
}

