@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url('icomoon.css');

body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color: #607d8b;
}

h2 { font-weight: 700; font-size: 28px; }

.img-responsive { margin: 0 auto; }

header {
  background: #ff5252;
  color: #fff;
}

header p { padding: 10px 0; border-bottom: 1px solid #ff8a80; }
header .buscar { font-size: 25px; }

header ul li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  border-right: 1px solid #ff8a80;
}
header ul li:last-child { border: none; }
header ul li a { color: #fff; display: block; }
header ul li a:hover { color: #fff; text-decoration: none; }
header ul li a [class^="icon-"], header ul li a [class*=" icon-"] { font-size: 25px; }
header ul li a img { width: 30px; }

header ul li a.active { padding-bottom: 2px; border-bottom: 1px solid #fff; }

footer {
  padding: 10px 0;
  background: #607d8b;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

footer p { margin:  0; }

#contenido {
  padding: 50px 0;
}

.boton_ver {
  display: block;
  background: #ff5252;
  font-size: 16px;
  padding: 10px 10px 50px;
  margin: 20px 0 0 0;
}
.boton_ver:hover { background: #ff8a80; }
.boton_ver a { color:#fff; text-decoration: none; display: block; }
.boton_ver.inactive {
    background: #adabab;
}

.login { padding: 100px 0; }
.login h3 { 
  text-align: center;
  color: #ff5252;
  margin: 0 0 50px 0;
 }



.boton_log {
  display: block;
  background: #3b5998;
  font-size: 16px;
  padding: 20px 10px;
  text-align: center;
  margin: 20px 0 0 0;
}
.boton_log:hover { background: #8b9dc3; }
.boton_log a { color:#fff; text-decoration: none; }


.carousel-control { color: #1ccfc9; text-shadow: inherit; opacity: 1; }
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { left: -20px; }
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { right: -20px; }

.carousel-control.left,
.carousel-control.right { background-image: none; }

.carousel-caption {
  margin-top: 20px;
  position: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
  color: inherit;
  text-align: inherit;
  text-shadow: inherit;
}

.postres .boton_ver  { padding: 10px; text-align: center; }
